link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='public/app.css', rel='stylesheet')

.container
  each val in folders
    a(class='icon' href='/'+ val)
       .border
          .img
            i.material-icons folder
            i.material-icons.open folder_open
          .text
             p !{val}
             .follow
               .display
                 i.material-icons cloud_queue
                 p  Downloading File
  else
    p  No Folders
